.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  height: 100%;
  max-height: 100%;

  .extra {
    display: flex;
    justify-content: flex-end;
  }
}

.loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  max-height: 100%;
}

.formGenerator {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 -20px 0 0;

  .anchorWrapper {
    height: 100%;
    position: relative;

    .anchorRow {
      display: flex;
      flex: 1 1 auto;
      min-height: 0;
      width: 100%;
    }

    [data-inside-drawer='true'] & .anchorRow {
      /* to allow scrool-to-error */
      bottom: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
    }
  }

  .formWrapper {
    flex: 1 1 auto;
    margin-right: var(--spacing-md);
    min-height: 0;

    [data-inside-drawer='true'] & {
      /* to allow scrool-to-error */
      height: 100%;
    }

    .form {
      height: 100%;
      overflow: auto;

      .optionalFieldsSwitchWrapper {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1;

        [data-inside-drawer='true'] & {
          background-color: var(--panelbg-color);
        }

        .optionalFieldsSwitch {
          background: var(--lightgray-color);
          border-radius: 10px;
          box-sizing: border-box;
          padding: 10px;
          width: 100%;
        }
      }

      .formField {
        .labelField {
          row-gap: 0;
        }

        .breadcrumbDots {
          text-wrap: nowrap;
        }

        &.hidden {
          height: 0;
        }
      }
    }

    .metadataFields {
      .breadcrumb {
        display: none;
      }

      :global label::before {
        margin-top: 0;
      }
    }
  }

  .anchorLabelWrapper {
    height: 100%;
    overflow-y: auto;
    padding: 0 20px;
    position: sticky;
    top: 0;

    :global .ant-anchor-link-title-active {
      font-weight: 600;
    }

    .anchorObjectLabel {
      color: #ccc;
      cursor: default;
      font-weight: 400;
    }
  }
}

.message {
  align-items: center;
  background-color: white;
  border-radius: var(--spacing-md);
  box-shadow:
    0 1px 2px 0 rgb(0 0 0 / 3%),
    0 1px 6px -1px rgb(0 0 0 / 2%),
    0 2px 4px 0 rgb(0 0 0 / 2%);
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .content {
    display: flex;
    max-width: 100%;
    overflow: auto;

    .pre {
      max-width: 100%;
      white-space: pre-wrap;
      word-break: break-all;
    }
  }
}

.slider {
  margin-left: 12px;
  margin-right: 12px;
}
