.formGenerator {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 0 -20px 0 0;

  .anchorWrapper {
    height: 100%;
    position: relative;

    .anchorRow {
      bottom: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .formWrapper {
    height: 100%;

    .form {
      height: 100%;
      overflow: auto;
      padding: 0 40px 0 10px;

      .optionalFieldsSwitchWrapper {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1;
        background-color: var(--panel-bg);
        padding: 10px 0;
        margin-bottom: 20px;

        .optionalFieldsSwitch {
          width: 100%;
          background: var(--light-gray-color);
          padding: 10px;
          border-radius: 10px;
        }
      }

      .formField {
        .labelField {
          row-gap: 0;
        }

        .breadcrumbDots {
          text-wrap: nowrap;
        }
      }
    }

    .metadataFields {
      .breadcrumb {
        display: none;
      }

      :global label::before {
        margin-top: 0;
      }
    }
  }

  .anchorLabelWrapper {
    height: 100%;
    overflow-y: scroll;
    padding: 0 20px;

    :global .ant-anchor-link-title-active {
      font-weight: 600;
    }

    .anchorObjectLabel {
      color: #ccc;
      cursor: default;
      font-weight: 400;
    }
  }
}

.message {
  align-items: center;
  background-color: white;
  border-radius: var(--spacing-md);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 3%),0 1px 6px -1px rgb(0 0 0 / 2%),0 2px 4px 0 rgb(0 0 0 / 2%);
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .content {
    display: flex;
    max-width: 100%;
    overflow: auto;

    .pre {
      max-width: 100%;
      white-space: pre-wrap; 
      word-break: break-all;
    }
  }
}