:root {
  --background-color: #f5f5f5;
  --light-color: #FFF;
  --menuitem-bg: rgb(17 178 226 / 40%);
  --menuitem-color: rgb(255 255 255 / 50%);
  --menu-bg-start: #005D8B;
  --menu-bg-end: #002F46;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
}