.markdown {
  overflow-wrap: break-word;    
  overflow-x: hidden;
  white-space: pre-wrap;   
  
  .buttons {
    display: flex;
    gap: var(--spacing-xs);
    justify-content: flex-end;

    .button {
      align-items: center;
      display: flex;
      gap: var(--spacing-xs);
    }
  }
}