.markdown {
  overflow-wrap: break-word;    
  overflow-x: hidden;

  > *:first-child {
    margin-top: 0;
  }
  
  .actions {
    display: flex;
    gap: var(--spacing-xs);
    justify-content: flex-end;

    .button {
      align-items: center;
      display: flex;
      gap: var(--spacing-xs);
    }
  }
}