.lineChart {
  align-self: flex-start;
  flex: 1 1 auto;
  max-height: 400px;
  min-height: 300px;
  width: 100%;
}

.lineChart :global(.echarts-for-react),
.lineChart :global(.echarts-for-react canvas) {
  display: block;
  height: 100%;
  max-height: 400px;
  min-height: 300px;
  width: 100%;
}