.profile {
  display: flex;
  height: 100%;
  overflow: auto;
  width: 100%;

  & .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;

    & .content {
      box-sizing: border-box;
      flex: 1;
      height: 100%;
      min-width: 0;
      overflow: hidden scroll;
      padding: var(--spacing-lg) var(--spacing-md) var(--spacing-lg) var(--spacing-md);
      width: 100%;

      .avatar {
        max-width: 250px;
      }

      .fullname {
        font-size: 36px;
        display: block;
      }

      .email {
        font-size: 24px;
        display: block;
      }
    }
  }
}
