.flowChart {
  height: 100%;
  min-height: 500px;
}

.flowChart :global(.react-flow) {
  min-height: 500px;
}

:global(.ant-tabs) {
  height: 100%;
}

:global(.ant-tabs-tabpane) {
  height: 100%;
}

:global(.ant-tabs-content) {
  height: 100%;
}