.header {
  background-color: var(--light-color);
  border-bottom: solid 1px var(--border-color);
  padding: 0 19px 0 16px;

  & .content {
    display: flex;
    justify-content: space-between;
  }
}