.badge {
  &.hasNotifications {
    top: 5px;
  }

  .icon {
    font-size: 22px;
  }
}

.drawer {
  .list {
    .listItem {
      &:hover {
        background-color: var(--background-color);
      }   

      .notificationElement {
        height: auto;
        padding: 0;
        text-align: left;
        text-wrap: wrap;

        .title {
          text-wrap: wrap;
        }

        .description {
          max-width: 100%;
          white-space: initial;
        }

        .details {
          color: var(--gray-color);
          font-size: var(--font-size-xxs);
        }

        .timestamp {
          color: var(--gray-color);
          font-size: var(--font-size-xxs);
          text-align: right;
        }
      }
    }
  }
}