.badge {
  &.hasNotifications {
    top: 5px;
  }

  .icon {
    font-size: 22px;
  }
}

.drawer {
  .list {
    .listItem {
      width: 100%;

      &:hover {
        background-color: var(--background-color);
      }   

      .notificationElement {
        height: auto;
        padding: 0;
        text-align: left;
        text-wrap: wrap;
        width: 100%;

        .space {
          display: flex;
          flex: 1;
          flex-direction: column;
          gap: var(--spacing-sm);
          width: 100%;

          .description {
            max-width: 100%;
            white-space: initial;
          }

          .details {
            color: var(--gray-color);
            font-size: var(--font-size-xxs);
          }

          .titleWrapper {
            display: flex;
            gap: var(--spacing-sm);
            justify-content: space-between;
            width: 100%;

            .timestamp {
              color: var(--gray-color);
              font-size: var(--font-size-xxs);
              text-align: right;
            }

            .title {
              text-wrap: wrap;
            }
          }
        }
      }
    }
  }
}