.widgetPage {
  display: flex;
  height: 100%;
  width: 100%;

  & .content {
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    overflow: scroll;
    padding: var(--spacing-lg) var(--spacing-md);
    width: 100%;
  }
}