.sidebar {
  background-image: linear-gradient(var(--menubgstart-color), var(--menubgend-color));
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  width: 250px;

  .logo {
    border-bottom: 1px solid transparent;
    flex-shrink: 0;
    height: 64px;
    max-height: 64px;
    overflow: hidden;

    & .image {
      padding: var(--spacing-sm)
    }
  }

  .content {
    flex-grow: 1;
  }
}