.sidebar {
  background-image: linear-gradient(var(--menu-bg-start), var(--menu-bg-end));
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  width: 250px;
}