/* Sets same height for all list items: https://github.com/ant-design/ant-design/issues/40786 */

.list {
  :global(.ant-list .ant-row > div),
  :global(.ant-list .ant-row .ant-col:first-child) {
    display: flex;
  }

  :global(.ant-list .ant-row .ant-list-item) {
    flex: 1 1 auto;
  }

  :global(.ant-list .ant-row .ant-list-item > *) {
    height: 100%;
  }
}