.modal {
  :global(.ant-modal-content) {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
  }

  :global(.ant-modal-body) {
    flex: 1;
    overflow-y: auto;
    padding-right: 16px;
  }
}