name: release-pullrequest

on:
  pull_request:
    branches:
      - main

env:
  GHCR_REPO: ghcr.io/${{ github.repository }}

jobs:
  build:
    name: Build and NOT Push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Dockerfile (multi-arch, no push)
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: false
          cache-from: type=registry,ref=${{ env.GHCR_REPO }}:buildcache
          cache-to: type=inline # Use inline cache for PR builds to prevent concurrency issues

  crds:
    name: Generate crds
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Install krateoctl
        run: |
          curl -sL https://raw.githubusercontent.com/krateoplatformops/krateoctl/main/install.sh | bash

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install tsx, chalk
        run: |
          npm install tsx chalk

      - name: Send schemas
        run: |
          npm run generate-crds

      - name: List new files
        run: |
          ls -la

      # - name: Upload .yaml files from /scripts/smithery-output
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: smithery-yaml-files
      #     path: ${{ github.workspace }}/scripts/smithery-output/*.yaml